<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/comments/edit/">
            <fieldset>

                <div class="col-md-12">
                    <article>
                        <h2></h2>
                    </article>
                </div>


                   <h1 class="btn btn-danger btn-xs">
                       Wrong Page!!!
                   </h1>





            </fieldset>
        </form>
    </div>
</div>